@media only screen and (min-width: 300px) {
  #mobile-logo {
    display: none;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Lemonada', cursive;
  font-size: small;
}

.f-button:hover {
  background-color: #a07017;
}

.h-clickers:hover {
  background-color: #a07017;
}

.f-button:active {
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.h-clickers:active {
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#grid-container {
  display: -ms-grid;
  display: grid;
}

#header {
  background-color: #f0a417;
  width: 100%;
  min-height: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[5];
      grid-template-columns: repeat(5, 2fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .h-clickers {
  background-color: #ff1e1e;
  width: 15vw;
  height: 5vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px #646464;
          box-shadow: 5px 5px #646464;
}

#content {
  width: 100%;
  min-height: 87vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 8fr;
      grid-template-rows: 1fr 8fr;
}

#content .topImg {
  -webkit-box-shadow: 5px 5px #646464;
          box-shadow: 5px 5px #646464;
}

#content .topImg:hover {
  border-radius: 40px;
  -webkit-transition: border-radius 0.5s ease-in-out;
  transition: border-radius 0.5s ease-in-out;
}

#footer {
  background-color: #f0a417;
  width: 100%;
  min-height: 8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[5];
      grid-template-columns: repeat(5, 2fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vh;
}

#footer .f-button {
  background-color: #ff1e1e;
  width: 15vw;
  height: 5vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000088;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px #646464;
          box-shadow: 5px 5px #646464;
}
/*# sourceMappingURL=index.css.map */