@media only screen and (min-width: 500px) {
    #mobile-logo {
        display: none;
    }
}

@media only screen and (min-width: 400px) {
    #mobile-callus {
        background-color: black;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

* {
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 136)
}

h1 {
    font-family: 'Lemonada', cursive;
    font-size: small;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    color: red;
}

h4 {
    font-family: 'Lemonada', cursive;
    font-size: small;
    color: white;
}

.f-button:hover {
    background-color: rgb(160, 112, 23);
}

.h-clickers:hover {
    background-color: rgb(160, 112, 23);
}

.f-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.h-clickers:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

#grid-container {
    display: grid;
}

#header {
    background-color: rgb(240, 164, 23);
    width: 100%;
    min-height: 5vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;

    .h-clickers {
        background-color: crimson;
        width: 15vw;
        height: 5vh;
        justify-items: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 15px;
        box-shadow: 5px 5px rgb(100, 100, 100);
    }
}

#content {
    width: 100%;
    min-height: 87vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;

    .contents {
        display: grid;
        grid-template-rows: 1fr 8fr;
    }

    .topImg {
        box-shadow: 5px 5px rgb(100, 100, 100);
    }

    .topImg:hover {
        border-radius: 40px;
        transition: border-radius 0.5s ease-in-out;
    }

    #h-video {
        top: 10px;
    }

}

#footer {
    background-color: rgb(240, 164, 23);
    width: 100%;
    min-height: 8vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 7px;
    justify-items: center;
    align-items: center;
    margin-top: auto;

    .f-button {
        background-color: crimson;
        width: 15vw;
        height: 5vh;
        justify-items: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: rgb(0, 0, 136);
        border: none;
        border-radius: 15px;
        box-shadow: 5px 5px rgb(100, 100, 100);
    }
}